    body {
        background-color: #9C9A9C;
        color: white;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
    }
    /*DISPLAY GRID*/
    /*Couleurs : Fonds de menu et titres :4738C9, Fonds de header et footer :  21177D (klein), Fond de pre : B3A1AA, Ecrits : Footer header : whitesmoke, lignes de séparation blocks : 4738C9*/
    
    .grid-container {
        display: grid;
        grid-template-columns: 2fr repeat(6);
        grid-template-rows: auto auto 1fr auto;
        grid-gap: 10px;
    }
    /*HEADER*/
    
    header {
        grid-column: 1/12;
        grid-row: auto;
        background-color: #21177D;
        color: whitesmoke;
    }
    /*MAIN MENU*/
    
    menu {
        grid-column: 1/span 12;
        text-align: center;
    }
    
    menu a {
        color: white;
        background-color: #4738C9;
        text-decoration: none;
    }
    
    menu a:hover {
        color: #4738C9;
        background-color: #9C9A9C;
    }
    /*CONTENT*/
    
    main {
        grid-column: 3/10;
    }
    /*Titre rubrique et menu*/
    
    .menuSecondaire {
        grid: 3 2 4 3;
        border-right: solid #4738C9;
        padding-right: 5px;
    }
    
    .menuSecondaire ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        width: 200px;
        background-color: #4738C9;
    }
    
    .menuSecondaire li a {
        display: block;
        color: #309C10;
        padding: 8px 16px;
        text-decoration: none;
    }
    
    .menuSecondaire li a:hover {
        background-color: #555;
        color: white;
    }
    
    h2,
    h3,
    h4 {
        background-color: #4738C9;
    }
    /*ASIDE*/
    
    aside {
        grid: 3 11 4 13;
        border-left: solid #4738C9;
        padding-left: 10px;
    }
    /*FOOTER*/
    
    footer {
        grid-column: 1/ span 11;
        grid-row: 4/auto;
        background-color: #21177D;
        color: whitesmoke
    }
    
    footer p {
        text-align: center;
    }
    /*TUTOS*/
    
    pre {
        border: 1px solid white;
        background-color: #B3A1AA;
        padding: 3px;
        margin: 10px;
    }
    
    code {
        font-size: 1.4em;
    }
    
    canvas {
        border: solid 1px orange;
    }
    /*LIENS*/
    
    .liensCours {
        display: flex;
        justify-content: space-between;
        color: whitesmoke;
    }
    
    .liensCours {
        color: whitesmoke;
        padding-top: 20px;
    }
    
    .coursvideo {
        background-color: whitesmoke;
    }
    
    .cours {
        border: solid 1px whitesmoke;
        -moz-border-radius: 10px 0;
        -webkit-border-radius: 10px 0;
        border-radius: 10px 0;
    }
    
    .cours ul {
        background-color: #C9AD00;
        list-style-type: none;
    }
    
    .cours ul a {
        color: whitesmoke;
    }
    
    .cours ul a:hover {
        color: #4838C9;
    }
    /*GALLERY*/
    
    .gallery {
        display: flex;
    }