    body {
        background-color: #9C9A9C;
        color: white;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
    }
    /*HEADER*/
    
    header {
        background-color: #00009C;
        color: whitesmoke
    }
    /*Menu Principal*/
    
    .menuprincipal {
        border: none;
    }
    
    .menuprincipal ul li {
        display: inline;
        margin-right: 20px;
    }
    
    .menuprincipal ul li a {
        color: white;
    }
    
    .menuprincipal ul li a:hover {
        color: #00009C;
        background-color: #9C9A9C;
    }
    /*CONTENU*/
    
    .contenu {
        width: 100%;
        height: 600px;
        min-height: 320px;
        display: table;
        border-spacing: 10px;
        border: solid;
        border-color: #00009C;
    }
    /*Titre rubrique et menu*/
    
    .menusecondaire {
        display: table-cell;
        border-right: solid #00009C;
        padding-right: 10px;
    }
    
    .menusecondaire a {
        color: white;
    }
    /*Corps de page*/
    /*Aside*/
    
    aside {
        width: 180px;
        border-left: solid #00009C;
        padding-left: 10px;
        height: auto;
        display: table-cell;
    }
    /*Footer*/
    
    footer {
        background-color: #00009C;
        color: whitesmoke
    }
    
    footer p {
        text-align: center;
        width: 100%;
    }
    /*Tutos*/
    
    code {
        border: 1px solid white;
        padding: 3px;
        margin: 10px;
    }
    
    canvas {
        border: dotted 1px orange;
    }